-- #########################################################################
-- #           SCRIPT PARA LA CREACION DE LA BASE DE DATOS SIAA            #
-- #           SISTEMA INTEGRAL DE ADMINISTRACION AEROPORTUARIA            #
-- #########################################################################

CREATE DATABASE SIAA;
GO

USE [SIAA]
GO

-- CREACION DE LOS SCHEMAS CON LOS QUE VAMOS A TRABAJAR, DICHOS SCHEMAS NOS VAN A PERMITIR MANTENER LAS TABLAS
-- EN UN ORDEN CORRECTO POR DEPARTAMENTO O AREA DE TRABAJO EN LA ADMINISTRACION DEL AEROPUERTO

/****** Object:  Schema [ABC]    Script Date: 24/10/2025 02:29:55 p. m. ******/
CREATE SCHEMA [ABC]
GO
/****** Object:  Schema [AUD]    Script Date: 24/10/2025 02:29:55 p. m. ******/
CREATE SCHEMA [AUD]
GO
/****** Object:  Schema [COM]    Script Date: 24/10/2025 02:29:55 p. m. ******/
CREATE SCHEMA [COM]
GO
/****** Object:  Schema [CRG]    Script Date: 24/10/2025 02:29:55 p. m. ******/
CREATE SCHEMA [CRG]
GO
/****** Object:  Schema [CTI]    Script Date: 24/10/2025 02:29:55 p. m. ******/
CREATE SCHEMA [CTI]
GO
/****** Object:  Schema [EMR]    Script Date: 24/10/2025 02:29:55 p. m. ******/
CREATE SCHEMA [EMR]
GO
/****** Object:  Schema [EQP]    Script Date: 24/10/2025 02:29:55 p. m. ******/
CREATE SCHEMA [EQP]
GO
/****** Object:  Schema [INF]    Script Date: 24/10/2025 02:29:55 p. m. ******/
CREATE SCHEMA [INF]
GO
/****** Object:  Schema [INT]    Script Date: 24/10/2025 02:29:55 p. m. ******/
CREATE SCHEMA [INT]
GO
/****** Object:  Schema [LGT]    Script Date: 24/10/2025 02:29:55 p. m. ******/
CREATE SCHEMA [LGT]
GO
/****** Object:  Schema [MET]    Script Date: 24/10/2025 02:29:55 p. m. ******/
CREATE SCHEMA [MET]
GO
/****** Object:  Schema [MIG]    Script Date: 24/10/2025 02:29:55 p. m. ******/
CREATE SCHEMA [MIG]
GO
/****** Object:  Schema [MKT]    Script Date: 24/10/2025 02:29:55 p. m. ******/
CREATE SCHEMA [MKT]
GO
/****** Object:  Schema [OPA]    Script Date: 24/10/2025 02:29:55 p. m. ******/
CREATE SCHEMA [OPA]
GO
/****** Object:  Schema [PAS]    Script Date: 24/10/2025 02:29:55 p. m. ******/
CREATE SCHEMA [PAS]
GO
/****** Object:  Schema [PRE]    Script Date: 24/10/2025 02:29:55 p. m. ******/
CREATE SCHEMA [PRE]
GO
/****** Object:  Schema [RRH]    Script Date: 24/10/2025 02:29:55 p. m. ******/
CREATE SCHEMA [RRH]
GO
/****** Object:  Schema [SAB]    Script Date: 24/10/2025 02:29:55 p. m. ******/
CREATE SCHEMA [SAB]
GO
/****** Object:  Schema [SEG]    Script Date: 24/10/2025 02:29:55 p. m. ******/
CREATE SCHEMA [SEG]
GO
/****** Object:  Schema [STG]    Script Date: 24/10/2025 02:29:55 p. m. ******/
CREATE SCHEMA [STG]
GO
/****** Object:  Schema [TEC]    Script Date: 24/10/2025 02:29:55 p. m. ******/
CREATE SCHEMA [TEC]
GO
/****** Object:  Schema [TRP]    Script Date: 24/10/2025 02:29:55 p. m. ******/
CREATE SCHEMA [TRP]
GO
/****** Object:  Schema [VUE]    Script Date: 24/10/2025 02:29:55 p. m. ******/
CREATE SCHEMA [VUE]
GO

-- #########################################################################
-- #           CREACION DE LAS TABLAS DE LA BASE DE DATOS SIAA            #
-- #           SISTEMA INTEGRAL DE ADMINISTRACION AEROPORTUARIA            #
-- #########################################################################


/****** Object:  Table [ABC].[COMBUSTIBLE]    Script Date: 24/10/2025 02:29:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ABC].[COMBUSTIBLE](
	[ID_Registro] [int] IDENTITY(1,1) NOT NULL,
	[ID_Aeronave] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[Cantidad_Galones] [decimal](10, 2) NOT NULL,
	[Costo_Total] [decimal](10, 2) NOT NULL,
	[Proveedor] [nvarchar](100) NULL,
	[Fecha_Creacion] [datetime2](7) NULL,
	[Fecha_Modificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Registro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [AUD].[AUDITORIA_SISTEMA]    Script Date: 24/10/2025 02:29:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AUD].[AUDITORIA_SISTEMA](
	[ID_Evento] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [date] NOT NULL,
	[Hora] [time](7) NOT NULL,
	[Usuario] [nvarchar](100) NOT NULL,
	[Rol_Usuario] [nvarchar](50) NOT NULL,
	[Modulo] [nvarchar](50) NOT NULL,
	[Tipo_Evento] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](255) NOT NULL,
	[IP_Origen] [nvarchar](45) NULL,
	[Estado_Evento] [nvarchar](50) NULL,
	[Fecha_Creacion] [datetime2](7) NULL,
	[Fecha_Modificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Evento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [AUD].[REPORTES_GENERADOS]    Script Date: 24/10/2025 02:29:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AUD].[REPORTES_GENERADOS](
	[ID_Reporte] [int] IDENTITY(1,1) NOT NULL,
	[ID_Evento] [int] NULL,
	[Tipo_Reporte] [nvarchar](100) NOT NULL,
	[Fecha_Generacion] [date] NOT NULL,
	[Generado_Por] [nvarchar](100) NULL,
	[Periodo_Desde] [date] NOT NULL,
	[Periodo_Hasta] [date] NOT NULL,
	[Observaciones] [nvarchar](255) NULL,
	[Fecha_Creacion] [datetime2](7) NULL,
	[Fecha_Modificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Reporte] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [COM].[GESTION_ADMVUELOS]    Script Date: 24/10/2025 02:29:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [COM].[GESTION_ADMVUELOS](
	[ID_Gestion] [int] IDENTITY(1,1) NOT NULL,
	[ID_Vuelo] [int] NOT NULL,
	[ID_Aerolinea] [int] NOT NULL,
	[ID_Pasajero] [int] NOT NULL,
	[ID_Paseabordaje] [int] NOT NULL,
	[Costo_Paseabordaje] [decimal](10, 2) NOT NULL,
	[Fecha_Creacion] [datetime2](7) NULL,
	[Fecha_Modificacion] [datetime2](7) NULL,
	[Clase] [nvarchar](20) NOT NULL,
	[Origen] [nvarchar](75) NULL,
	[Destino] [nvarchar](75) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Gestion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [COM].[PAGOS]    Script Date: 24/10/2025 02:29:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [COM].[PAGOS](
	[ID_Pago] [int] IDENTITY(1,1) NOT NULL,
	[ID_Reservacion] [int] NOT NULL,
	[Fecha_Pago] [date] NOT NULL,
	[Monto] [decimal](10, 2) NOT NULL,
	[Metodo_Pago] [nvarchar](30) NULL,
	[Estado] [nvarchar](20) NULL,
	[Fecha_Creacion] [datetime2](7) NULL,
	[Fecha_Modificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [COM].[PASES_ABORDAJE]    Script Date: 24/10/2025 02:29:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [COM].[PASES_ABORDAJE](
	[ID_Paseabordaje] [int] IDENTITY(1,1) NOT NULL,
	[ID_Pasajero] [int] NOT NULL,
	[ID_Vuelo] [int] NOT NULL,
	[Asiento] [nvarchar](10) NOT NULL,
	[Clase] [nvarchar](20) NOT NULL,
	[Puerta_Embarque] [nvarchar](10) NOT NULL,
	[Hora_Embarque] [time](7) NOT NULL,
	[Estado] [nvarchar](30) NOT NULL,
	[Codigo_QR] [nvarchar](255) NULL,
	[Fecha_Emision] [date] NOT NULL,
	[Fecha_Creacion] [datetime2](7) NULL,
	[Fecha_Modificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Paseabordaje] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [COM].[RESERVACIONES]    Script Date: 24/10/2025 02:29:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [COM].[RESERVACIONES](
	[ID_Reservacion] [int] IDENTITY(1,1) NOT NULL,
	[ID_Pasajero] [int] NOT NULL,
	[ID_Vuelo] [int] NOT NULL,
	[Fecha_Reservacion] [date] NOT NULL,
	[Clase] [nvarchar](20) NULL,
	[Costo] [decimal](10, 2) NOT NULL,
	[Estado] [nvarchar](20) NULL,
	[Fecha_Creacion] [datetime2](7) NULL,
	[Fecha_Modificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Reservacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [CRG].[CARGAS_TRANSPORTADAS]    Script Date: 24/10/2025 02:29:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CRG].[CARGAS_TRANSPORTADAS](
	[ID_Carga] [int] IDENTITY(1,1) NOT NULL,
	[ID_VueloCarga] [int] NOT NULL,
	[ID_Operador] [int] NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
	[Peso_Kg] [decimal](10, 2) NULL,
	[Volumen_M3] [decimal](10, 2) NULL,
	[Tipo_Carga] [nvarchar](50) NULL,
	[Estado] [nvarchar](30) NULL,
	[Fecha_Creacion] [datetime2](7) NULL,
	[Fecha_Modificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Carga] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [CRG].[OPERADORES_CARGA]    Script Date: 24/10/2025 02:29:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CRG].[OPERADORES_CARGA](
	[ID_Operador] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Pais_Origen] [int] NOT NULL,
	[Tipo_Operador] [nvarchar](50) NULL,
	[Contacto] [nvarchar](100) NULL,
	[Fecha_Creacion] [datetime2](7) NULL,
	[Fecha_Modificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Operador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [CRG].[VUELOS_CARGA]    Script Date: 24/10/2025 02:29:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CRG].[VUELOS_CARGA](
	[ID_VueloCarga] [int] IDENTITY(1,1) NOT NULL,
	[ID_Aeronave] [int] NOT NULL,
	[ID_Ruta] [int] NOT NULL,
	[Fecha_Salida] [date] NOT NULL,
	[Hora_Salida] [time](7) NOT NULL,
	[Peso_Total_Kg] [decimal](10, 2) NULL,
	[Volumen_Total_M3] [decimal](10, 2) NULL,
	[Estado] [nvarchar](30) NULL,
	[Fecha_Creacion] [datetime2](7) NULL,
	[Fecha_Modificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_VueloCarga] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [CTI].[INSPECCIONES_AUDITORIAS]    Script Date: 24/10/2025 02:29:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CTI].[INSPECCIONES_AUDITORIAS](
	[ID_Inspeccion] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [date] NOT NULL,
	[Tipo_Inspeccion] [nvarchar](100) NOT NULL,
	[Area_Evaluada] [nvarchar](100) NOT NULL,
	[Responsable] [nvarchar](100) NULL,
	[Resultado] [nvarchar](50) NOT NULL,
	[Observaciones] [nvarchar](255) NULL,
	[Accion_Correctiva_Requerida] [bit] NULL,
	[Fecha_Creacion] [datetime2](7) NULL,
	[Fecha_Modificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Inspeccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [EMR].[INTERVENCIONES_EMERGENCIA]    Script Date: 24/10/2025 02:29:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [EMR].[INTERVENCIONES_EMERGENCIA](
	[ID_Intervencion] [int] IDENTITY(1,1) NOT NULL,
	[ID_Unidad] [int] NOT NULL,
	[ID_Vuelo] [int] NULL,
	[Fecha] [datetime] NOT NULL,
	[Tipo_Incidente] [nvarchar](100) NULL,
	[Resultado] [nvarchar](100) NULL,
	[Observaciones] [nvarchar](255) NULL,
	[Fecha_Creacion] [datetime2](7) NULL,
	[Fecha_Modificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Intervencion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [EMR].[UNIDADES_EMERGENCIA]    Script Date: 24/10/2025 02:29:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [EMR].[UNIDADES_EMERGENCIA](
	[ID_Unidad] [int] IDENTITY(1,1) NOT NULL,
	[Tipo_Unidad] [nvarchar](50) NULL,
	[Placa_Unidad] [nvarchar](20) NULL,
	[Responsable] [nvarchar](100) NULL,
	[Estado] [nvarchar](30) NULL,
	[Fecha_Creacion] [datetime2](7) NULL,
	[Fecha_Modificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Unidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [EQP].[EQUIPAJE]    Script Date: 24/10/2025 02:29:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [EQP].[EQUIPAJE](
	[ID_Equipaje] [int] IDENTITY(1,1) NOT NULL,
	[ID_Pasajero] [int] NOT NULL,
	[ID_Vuelo] [int] NOT NULL,
	[Codigo_Equipaje] [nvarchar](50) NOT NULL,
	[Tipo] [nvarchar](75) NOT NULL,
	[Peso] [decimal](5, 2) NOT NULL,
	[Dimensiones] [nvarchar](50) NULL,
	[Estado] [nvarchar](30) NOT NULL,
	[Fecha_Registro] [date] NOT NULL,
	[Observaciones] [nvarchar](255) NULL,
	[Fecha_Creacion] [datetime2](7) NULL,
	[Fecha_Modificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Equipaje] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Codigo_Equipaje] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [EQP].[EQUIPAMIENTO_ESPECIAL]    Script Date: 24/10/2025 02:29:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [EQP].[EQUIPAMIENTO_ESPECIAL](
	[ID_Equipamiento] [int] IDENTITY(1,1) NOT NULL,
	[ID_Reservacion] [int] NOT NULL,
	[Tipo_Equipamiento] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
	[Peso_Kg] [decimal](5, 2) NULL,
	[Dimensiones_CM] [nvarchar](50) NULL,
	[Requiere_Manejo_Especial] [bit] NULL,
	[Costo_Adicional] [decimal](10, 2) NULL,
	[Estado] [nvarchar](50) NULL,
	[Fecha_Creacion] [datetime2](7) NULL,
	[Fecha_Modificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Equipamiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [INF].[AEROPUERTOS]    Script Date: 24/10/2025 02:29:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [INF].[AEROPUERTOS](
	[ID_Aeropuerto] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](150) NOT NULL,
	[Codigo_IATA] [char](3) NOT NULL,
	[Ciudad] [nvarchar](100) NOT NULL,
	[ID_Pais] [int] NOT NULL,
	[Capacidad_Anual_Pasajeros] [int] NULL,
	[Fecha_Creacion] [datetime2](7) NULL,
	[Fecha_Modificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Aeropuerto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Codigo_IATA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [INF].[PAISES]    Script Date: 24/10/2025 02:29:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [INF].[PAISES](
	[ID_Pais] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Codigo_ISO] [nvarchar](3) NOT NULL,
	[Fecha_Creacion] [datetime2](7) NULL,
	[Fecha_Modificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Pais] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Codigo_ISO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [INF].[PUERTAS_EMBARQUE]    Script Date: 24/10/2025 02:29:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [INF].[PUERTAS_EMBARQUE](
	[ID_Puerta] [int] IDENTITY(1,1) NOT NULL,
	[Codigo_Puerta] [nvarchar](10) NOT NULL,
	[ID_Terminal] [int] NOT NULL,
	[Tipo_Puerta] [nvarchar](20) NULL,
	[Estado] [nvarchar](20) NULL,
	[Fecha_Creacion] [datetime2](7) NULL,
	[Fecha_Modificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Puerta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [INF].[TERMINALES]    Script Date: 24/10/2025 02:29:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [INF].[TERMINALES](
	[ID_Terminal] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[ID_Aeropuerto] [int] NOT NULL,
	[Fecha_Creacion] [datetime2](7) NULL,
	[Fecha_Modificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Terminal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [INT].[ESTADISTICAS_DIARIAS]    Script Date: 24/10/2025 02:29:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [INT].[ESTADISTICAS_DIARIAS](
	[Fecha] [date] NOT NULL,
	[Total_Vuelos] [int] NULL,
	[Vuelos_Retrasados] [int] NULL,
	[Total_Pasajeros] [int] NULL,
	[Cancelaciones] [int] NULL,
	[Carga_Transportada_Kg] [decimal](10, 2) NULL,
	[Fecha_Creacion] [datetime2](7) NULL,
	[Fecha_Modificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [INT].[INCIDENTES_OPERATIVOS]    Script Date: 24/10/2025 02:29:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [INT].[INCIDENTES_OPERATIVOS](
	[ID_Incidente] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [date] NOT NULL,
	[Hora] [time](7) NOT NULL,
	[ID_Vuelo] [int] NULL,
	[ID_Aeronave] [int] NULL,
	[Tipo_Incidente] [nvarchar](255) NULL,
	[Descripcion] [nvarchar](255) NULL,
	[Nivel_Severidad] [nvarchar](20) NULL,
	[Reportado_Por] [nvarchar](100) NULL,
	[Fecha_Creacion] [datetime2](7) NULL,
	[Fecha_Modificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Incidente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [INT].[TIEMPOS_PROCESO_PASAJEROS]    Script Date: 24/10/2025 02:29:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [INT].[TIEMPOS_PROCESO_PASAJEROS](
	[ID_Proceso] [int] IDENTITY(1,1) NOT NULL,
	[ID_Pasajero] [int] NULL,
	[Fecha] [date] NULL,
	[Hora_Llegada_Aeropuerto] [time](7) NULL,
	[Hora_CheckIn] [time](7) NULL,
	[Hora_Seguridad] [time](7) NULL,
	[Hora_Abordaje] [time](7) NULL,
	[Hora_Despegue] [time](7) NULL,
	[Fecha_Creacion] [datetime2](7) NULL,
	[Fecha_Modificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Proceso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [LGT].[LOGISTICA_TERRESTRE]    Script Date: 24/10/2025 02:29:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [LGT].[LOGISTICA_TERRESTRE](
	[ID_Transporte] [int] IDENTITY(1,1) NOT NULL,
	[Tipo_Transporte] [nvarchar](50) NOT NULL,
	[Origen] [nvarchar](100) NOT NULL,
	[Destino] [nvarchar](100) NOT NULL,
	[Hora_Salida] [time](7) NOT NULL,
	[Hora_Llegada] [time](7) NOT NULL,
	[Responsable] [nvarchar](100) NULL,
	[Capacidad] [int] NULL,
	[Estado] [nvarchar](50) NULL,
	[Fecha_Creacion] [datetime2](7) NULL,
	[Fecha_Modificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Transporte] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [MET].[CLIMA]    Script Date: 24/10/2025 02:29:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MET].[CLIMA](
	[ID_Registro] [int] IDENTITY(1,1) NOT NULL,
	[ID_Aeropuerto] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[Hora] [time](7) NOT NULL,
	[Temperatura_C] [decimal](5, 2) NULL,
	[Humedad_Porc] [decimal](5, 2) NULL,
	[Velocidad_Viento_KMH] [decimal](5, 2) NULL,
	[Condicion] [nvarchar](50) NULL,
	[Fecha_Creacion] [datetime2](7) NULL,
	[Fecha_Modificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Registro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [MIG].[MIGRACION_ADUANA]    Script Date: 24/10/2025 02:29:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MIG].[MIGRACION_ADUANA](
	[ID_Registro] [int] IDENTITY(1,1) NOT NULL,
	[ID_Reservacion] [int] NOT NULL,
	[Fecha_Proceso] [date] NOT NULL,
	[Tipo_Proceso] [nvarchar](50) NOT NULL,
	[Estado] [nvarchar](50) NULL,
	[Observaciones] [nvarchar](255) NULL,
	[Fecha_Creacion] [datetime2](7) NULL,
	[Fecha_Modificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Registro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [MKT].[ATENCION_CLIENTE]    Script Date: 24/10/2025 02:29:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MKT].[ATENCION_CLIENTE](
	[ID_Atencion] [int] IDENTITY(1,1) NOT NULL,
	[ID_Pasajero] [int] NOT NULL,
	[Fecha_Solicitud] [date] NOT NULL,
	[Tipo_Solicitud] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
	[Estado] [nvarchar](30) NOT NULL,
	[Respuesta] [nvarchar](255) NULL,
	[Fecha_Respuesta] [date] NULL,
	[Fecha_Creacion] [datetime2](7) NULL,
	[Fecha_Modificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Atencion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [MKT].[CAMP_MARKETING]    Script Date: 24/10/2025 02:29:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MKT].[CAMP_MARKETING](
	[ID_Camp] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Tipo] [nvarchar](50) NOT NULL,
	[Fecha_Inicio] [date] NOT NULL,
	[Fecha_Fin] [date] NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
	[Estado] [nvarchar](20) NULL,
	[Fecha_Creacion] [datetime2](7) NULL,
	[Fecha_Modificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Camp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [MKT].[ENCUESTAS_OPINIONES_CLIENTES]    Script Date: 24/10/2025 02:29:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MKT].[ENCUESTAS_OPINIONES_CLIENTES](
	[ID_Registro] [int] IDENTITY(1,1) NOT NULL,
	[ID_Pasajero] [int] NOT NULL,
	[ID_Vuelo] [int] NULL,
	[Fecha] [date] NOT NULL,
	[Puntualidad] [tinyint] NULL,
	[Comodidad] [tinyint] NULL,
	[Servicio_Bordo] [tinyint] NULL,
	[Limpieza] [tinyint] NULL,
	[Calificacion_Global] [tinyint] NULL,
	[Comentario] [nvarchar](255) NULL,
	[Tipo_Servicio] [nvarchar](50) NULL,
	[Fecha_Creacion] [datetime2](7) NULL,
	[Fecha_Modificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Registro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [MKT].[FIDELIDAD_PASAJERO]    Script Date: 24/10/2025 02:29:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MKT].[FIDELIDAD_PASAJERO](
	[ID_Registro] [int] IDENTITY(1,1) NOT NULL,
	[ID_Pasajero] [int] NOT NULL,
	[Puntos_Acumulados] [int] NULL,
	[Ultima_Actualizacion] [date] NOT NULL,
	[Nivel_Fidelidad] [nvarchar](30) NULL,
	[Fecha_Creacion] [datetime2](7) NULL,
	[Fecha_Modificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Registro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [MKT].[OFERTAS_APLICADAS]    Script Date: 24/10/2025 02:29:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MKT].[OFERTAS_APLICADAS](
	[ID_Oferta] [int] IDENTITY(1,1) NOT NULL,
	[ID_Camp] [int] NOT NULL,
	[ID_Reservacion] [int] NOT NULL,
	[Descuento_Porcentaje] [decimal](5, 2) NULL,
	[Monto_Descontado] [decimal](10, 2) NULL,
	[Fecha_Aplicacion] [date] NOT NULL,
	[Fecha_Creacion] [datetime2](7) NULL,
	[Fecha_Modificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Oferta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [OPA].[AEROLINEAS]    Script Date: 24/10/2025 02:29:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [OPA].[AEROLINEAS](
	[ID_Aerolinea] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Codigo_IATA] [char](2) NOT NULL,
	[Pais_Origen] [int] NOT NULL,
	[Activa] [bit] NULL,
	[Fecha_Creacion] [datetime2](7) NULL,
	[Fecha_Modificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Aerolinea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Codigo_IATA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [OPA].[AERONAVES]    Script Date: 24/10/2025 02:29:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [OPA].[AERONAVES](
	[ID_Aeronave] [int] IDENTITY(1,1) NOT NULL,
	[Matricula] [nvarchar](10) NOT NULL,
	[Modelo] [nvarchar](50) NOT NULL,
	[Capacidad_Pasajeros] [int] NOT NULL,
	[Capacidad_Carga_KG] [int] NULL,
	[Fecha_Fabricacion] [date] NULL,
	[ID_Aerolinea] [int] NOT NULL,
	[Estado] [nvarchar](20) NULL,
	[Fecha_Creacion] [datetime2](7) NULL,
	[Fecha_Modificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Aeronave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Matricula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [PAS].[PASAJEROS]    Script Date: 24/10/2025 02:29:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PAS].[PASAJEROS](
	[ID_Pasajero] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Apellido] [nvarchar](100) NOT NULL,
	[Genero] [nvarchar](10) NULL,
	[Fecha_Nacimiento] [date] NULL,
	[Nacionalidad] [nvarchar](50) NULL,
	[Documento_Identidad] [nvarchar](50) NULL,
	[Correo_Electronico] [nvarchar](100) NULL,
	[Telefono] [nvarchar](20) NULL,
	[Fecha_Creacion] [datetime2](7) NULL,
	[Fecha_Modificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Pasajero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Documento_Identidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [PRE].[HISTORICO_OPERACIONAL_VUELOS]    Script Date: 24/10/2025 02:29:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PRE].[HISTORICO_OPERACIONAL_VUELOS](
	[ID_Historico] [int] IDENTITY(1,1) NOT NULL,
	[ID_Vuelo] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[Hora_Salida_Programada] [time](7) NOT NULL,
	[Hora_Salida_Real] [time](7) NULL,
	[Clima_Temperatura] [decimal](5, 2) NULL,
	[Clima_Humedad] [decimal](5, 2) NULL,
	[Clima_Condicion] [nvarchar](50) NULL,
	[Retraso_Minutos] [int] NULL,
	[Estado_Vuelo] [nvarchar](30) NULL,
	[Carga_Pasajeros] [int] NULL,
	[Carga_Carga_Kg] [decimal](10, 2) NULL,
	[Observaciones] [nvarchar](255) NULL,
	[Fecha_Creacion] [datetime2](7) NULL,
	[Fecha_Modificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Historico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [RRH].[ASISTENCIAS_EMPLEADOS]    Script Date: 24/10/2025 02:29:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RRH].[ASISTENCIAS_EMPLEADOS](
	[ID_Asistencia] [int] IDENTITY(1,1) NOT NULL,
	[ID_Empleado] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[Hora_Entrada] [time](7) NULL,
	[Hora_Salida] [time](7) NULL,
	[Estado] [nvarchar](20) NULL,
	[Fecha_Creacion] [datetime2](7) NULL,
	[Fecha_Modificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Asistencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [RRH].[EMPLEADOS]    Script Date: 24/10/2025 02:29:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RRH].[EMPLEADOS](
	[ID_Empleado] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Apellido] [nvarchar](100) NOT NULL,
	[Cedula] [nvarchar](20) NOT NULL,
	[Fecha_Nacimiento] [date] NOT NULL,
	[Genero] [nvarchar](10) NULL,
	[Cargo] [nvarchar](50) NOT NULL,
	[ID_Aeropuerto] [int] NOT NULL,
	[Fecha_Contratacion] [date] NOT NULL,
	[Estado] [nvarchar](20) NULL,
	[Fecha_Creacion] [datetime2](7) NULL,
	[Fecha_Modificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [RRH].[TURNOS_EMPLEADOS]    Script Date: 24/10/2025 02:29:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RRH].[TURNOS_EMPLEADOS](
	[ID_Turno] [int] IDENTITY(1,1) NOT NULL,
	[ID_Empleado] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[Hora_Entrada] [time](7) NOT NULL,
	[Hora_Salida] [time](7) NOT NULL,
	[Tipo_Turno] [nvarchar](20) NULL,
	[Estado] [nvarchar](20) NULL,
	[Fecha_Creacion] [datetime2](7) NULL,
	[Fecha_Modificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Turno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [SAB].[SERVICIOS_BORDO]    Script Date: 24/10/2025 02:29:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SAB].[SERVICIOS_BORDO](
	[ID_Servicio] [int] IDENTITY(1,1) NOT NULL,
	[ID_Vuelo] [int] NOT NULL,
	[Tipo_Servicio] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
	[Costo] [decimal](10, 2) NULL,
	[Fecha_Creacion] [datetime2](7) NULL,
	[Fecha_Modificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Servicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [SAB].[SERVICIOS_CONSUMIDOS]    Script Date: 24/10/2025 02:29:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SAB].[SERVICIOS_CONSUMIDOS](
	[ID_Consumo] [int] IDENTITY(1,1) NOT NULL,
	[ID_Pasajero] [int] NOT NULL,
	[ID_Servicio] [int] NOT NULL,
	[Estado] [nvarchar](30) NOT NULL,
	[Fecha_Solicitud] [datetime] NOT NULL,
	[Fecha_Entrega] [datetime] NULL,
	[Observaciones] [nvarchar](255) NULL,
	[Fecha_Creacion] [datetime2](7) NULL,
	[Fecha_Modificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Consumo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [SEG].[CONTROLES_SEGURIDAD]    Script Date: 24/10/2025 02:29:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SEG].[CONTROLES_SEGURIDAD](
	[ID_Control] [int] IDENTITY(1,1) NOT NULL,
	[ID_Vuelo] [int] NOT NULL,
	[Tipo_Control] [nvarchar](100) NOT NULL,
	[Fecha_Control] [date] NOT NULL,
	[Resultado] [nvarchar](50) NOT NULL,
	[Observaciones] [nvarchar](255) NULL,
	[Fecha_Creacion] [datetime2](7) NULL,
	[Fecha_Modificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Control] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [SEG].[INCIDENTES_SEGURIDAD]    Script Date: 24/10/2025 02:29:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SEG].[INCIDENTES_SEGURIDAD](
	[ID_Incidente] [int] IDENTITY(1,1) NOT NULL,
	[ID_Vuelo] [int] NOT NULL,
	[Fecha_Incidente] [date] NOT NULL,
	[Tipo_Incidente] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
	[Accion_Tomada] [nvarchar](255) NULL,
	[Fecha_Creacion] [datetime2](7) NULL,
	[Fecha_Modificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Incidente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [TEC].[MANTENIMIENTO]    Script Date: 24/10/2025 02:29:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TEC].[MANTENIMIENTO](
	[ID_Mantenimiento] [int] IDENTITY(1,1) NOT NULL,
	[ID_Aeronave] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[Hora] [time](7) NOT NULL,
	[Tipo_Mantenimiento] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
	[Costo] [decimal](10, 2) NULL,
	[Estado] [nvarchar](30) NULL,
	[Tecnico_Responsable] [nvarchar](100) NULL,
	[Observaciones] [nvarchar](255) NULL,
	[Fecha_Creacion] [datetime2](7) NULL,
	[Fecha_Modificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Mantenimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [TRP].[TRIPULACION]    Script Date: 24/10/2025 02:29:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRP].[TRIPULACION](
	[ID_Tripulacion] [int] IDENTITY(1,1) NOT NULL,
	[ID_Empleado] [int] NOT NULL,
	[ID_Vuelo] [int] NOT NULL,
	[Rol_Tripulacion] [nvarchar](50) NOT NULL,
	[Fecha_Asignacion] [date] NOT NULL,
	[Observaciones] [nvarchar](255) NULL,
	[Fecha_Creacion] [datetime2](7) NULL,
	[Fecha_Modificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Tripulacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [VUE].[FRECUENCIAS]    Script Date: 24/10/2025 02:29:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [VUE].[FRECUENCIAS](
	[ID_Frecuencia] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](255) NOT NULL,
	[Fecha_Creacion] [datetime2](7) NULL,
	[Fecha_Modificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Frecuencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [VUE].[HORARIOS_PROGRAMADOS]    Script Date: 24/10/2025 02:29:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [VUE].[HORARIOS_PROGRAMADOS](
	[ID_Horario] [int] IDENTITY(1,1) NOT NULL,
	[ID_Ruta] [int] NOT NULL,
	[ID_Frecuencia] [int] NOT NULL,
	[Hora_Salida] [time](7) NOT NULL,
	[Hora_Llegada] [time](7) NOT NULL,
	[Fecha_Creacion] [datetime2](7) NULL,
	[Fecha_Modificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Horario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [VUE].[RUTAS_AEREAS]    Script Date: 24/10/2025 02:29:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [VUE].[RUTAS_AEREAS](
	[ID_Ruta] [int] IDENTITY(1,1) NOT NULL,
	[ID_Aeropuerto_Origen] [int] NOT NULL,
	[ID_Aeropuerto_Destino] [int] NOT NULL,
	[Distancia_KM] [int] NOT NULL,
	[Duracion_Estimada_MIN] [int] NULL,
	[Fecha_Creacion] [datetime2](7) NULL,
	[Fecha_Modificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Ruta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [VUE].[VUELOS]    Script Date: 24/10/2025 02:29:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [VUE].[VUELOS](
	[ID_Vuelo] [int] IDENTITY(1,1) NOT NULL,
	[Numero_Vuelo] [nvarchar](10) NOT NULL,
	[ID_Ruta] [int] NOT NULL,
	[ID_Aeronave] [int] NOT NULL,
	[ID_Horario] [int] NOT NULL,
	[Fecha_Salida] [date] NOT NULL,
	[Hora_Salida] [time](7) NOT NULL,
	[Hora_Llegada] [time](7) NOT NULL,
	[Estado] [nvarchar](20) NULL,
	[Fecha_Creacion] [datetime2](7) NULL,
	[Fecha_Modificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Vuelo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/* Comandos ALTER TABLE ... ADD DEFAULT de SQL, específicamente utilizados para establecer valores por defecto 
en varias columnas de las tablas en la base de datos.
Este conjunto de comandos garantiza la integridad y consistencia de los datos de la siguiente manera:

1. Control de Tiempos (Auditoría)
La mayoría de los comandos (DEFAULT (getdate()) FOR [Fecha_Creacion]) aseguran que automáticamente se registre la fecha exacta en que se creó cada registro en casi todas las tablas del sistema (ej. [COM].[RESERVACIONES], [PAS].[PASAJEROS], [VUE].[VUELOS]).

2. Estandarización de Estados Iniciales
Establecen un estado inicial lógico para muchas entidades al ser creadas, evitando que queden vacías y asegurando que los procesos puedan comenzar correctamente:

Estados de Vuelos y Logística: Programado (ej. en [VUE].[VUELOS], [CRG].[VUELOS_CARGA], [LGT].[LOGISTICA_TERRESTRE]).
Estados de Comercio: Confirmada (en [COM].[RESERVACIONES]) o Completado (en [COM].[PAGOS]).
Estados de Recursos Humanos/Operaciones: Activo o Activa (ej. en [RRH].[EMPLEADOS], [OPA].[AEROLINEAS]).
Estados de Auditoría/Migración: Éxito (para [AUD].[AUDITORIA_SISTEMA]) o Pendiente (para [MIG].[MIGRACION_ADUANA]).

3. Valores Numéricos Iniciales
Fijan un valor numérico inicial (generalmente cero o falso) para campos que representan conteos o indicadores booleanos:

DEFAULT ((0)) FOR [Accion_Correctiva_Requerida] (Falso/No requerido).
DEFAULT ((0)) FOR [Puntos_Acumulados].
DEFAULT ((1)) FOR [Activa] (Verdadero/Activa).

En esencia, se están definiendo las reglas de llenado automático para columnas clave, lo que simplifica la inserción de nuevos datos 
y reduce la probabilidad de errores y la necesidad de ingresar manualmente campos de control.*/

ALTER TABLE [ABC].[COMBUSTIBLE] ADD  DEFAULT (getdate()) FOR [Fecha_Creacion]
GO
ALTER TABLE [AUD].[AUDITORIA_SISTEMA] ADD  DEFAULT ('Éxito') FOR [Estado_Evento]
GO
ALTER TABLE [AUD].[AUDITORIA_SISTEMA] ADD  DEFAULT (getdate()) FOR [Fecha_Creacion]
GO
ALTER TABLE [AUD].[REPORTES_GENERADOS] ADD  DEFAULT (getdate()) FOR [Fecha_Creacion]
GO
ALTER TABLE [COM].[GESTION_ADMVUELOS] ADD  DEFAULT (getdate()) FOR [Fecha_Creacion]
GO
ALTER TABLE [COM].[PAGOS] ADD  DEFAULT ('Completado') FOR [Estado]
GO
ALTER TABLE [COM].[PAGOS] ADD  DEFAULT (getdate()) FOR [Fecha_Creacion]
GO
ALTER TABLE [COM].[PASES_ABORDAJE] ADD  DEFAULT (getdate()) FOR [Fecha_Creacion]
GO
ALTER TABLE [COM].[RESERVACIONES] ADD  DEFAULT ('Económica') FOR [Clase]
GO
ALTER TABLE [COM].[RESERVACIONES] ADD  DEFAULT ('Confirmada') FOR [Estado]
GO
ALTER TABLE [COM].[RESERVACIONES] ADD  DEFAULT (getdate()) FOR [Fecha_Creacion]
GO
ALTER TABLE [CRG].[CARGAS_TRANSPORTADAS] ADD  DEFAULT ('Registrada') FOR [Estado]
GO
ALTER TABLE [CRG].[CARGAS_TRANSPORTADAS] ADD  DEFAULT (getdate()) FOR [Fecha_Creacion]
GO
ALTER TABLE [CRG].[OPERADORES_CARGA] ADD  DEFAULT (getdate()) FOR [Fecha_Creacion]
GO
ALTER TABLE [CRG].[VUELOS_CARGA] ADD  DEFAULT ('Programado') FOR [Estado]
GO
ALTER TABLE [CRG].[VUELOS_CARGA] ADD  DEFAULT (getdate()) FOR [Fecha_Creacion]
GO
ALTER TABLE [CTI].[INSPECCIONES_AUDITORIAS] ADD  DEFAULT ((0)) FOR [Accion_Correctiva_Requerida]
GO
ALTER TABLE [CTI].[INSPECCIONES_AUDITORIAS] ADD  DEFAULT (getdate()) FOR [Fecha_Creacion]
GO
ALTER TABLE [EMR].[INTERVENCIONES_EMERGENCIA] ADD  DEFAULT (getdate()) FOR [Fecha_Creacion]
GO
ALTER TABLE [EMR].[UNIDADES_EMERGENCIA] ADD  DEFAULT ('Activa') FOR [Estado]
GO
ALTER TABLE [EMR].[UNIDADES_EMERGENCIA] ADD  DEFAULT (getdate()) FOR [Fecha_Creacion]
GO
ALTER TABLE [EQP].[EQUIPAJE] ADD  DEFAULT (getdate()) FOR [Fecha_Creacion]
GO
ALTER TABLE [EQP].[EQUIPAMIENTO_ESPECIAL] ADD  DEFAULT ((0)) FOR [Requiere_Manejo_Especial]
GO
ALTER TABLE [EQP].[EQUIPAMIENTO_ESPECIAL] ADD  DEFAULT ((0)) FOR [Costo_Adicional]
GO
ALTER TABLE [EQP].[EQUIPAMIENTO_ESPECIAL] ADD  DEFAULT ('Registrado') FOR [Estado]
GO
ALTER TABLE [EQP].[EQUIPAMIENTO_ESPECIAL] ADD  DEFAULT (getdate()) FOR [Fecha_Creacion]
GO
ALTER TABLE [INF].[AEROPUERTOS] ADD  DEFAULT (getdate()) FOR [Fecha_Creacion]
GO
ALTER TABLE [INF].[PAISES] ADD  DEFAULT (getdate()) FOR [Fecha_Creacion]
GO
ALTER TABLE [INF].[PUERTAS_EMBARQUE] ADD  DEFAULT ('General') FOR [Tipo_Puerta]
GO
ALTER TABLE [INF].[PUERTAS_EMBARQUE] ADD  DEFAULT ('Activa') FOR [Estado]
GO
ALTER TABLE [INF].[PUERTAS_EMBARQUE] ADD  DEFAULT (getdate()) FOR [Fecha_Creacion]
GO
ALTER TABLE [INF].[TERMINALES] ADD  DEFAULT (getdate()) FOR [Fecha_Creacion]
GO
ALTER TABLE [INT].[ESTADISTICAS_DIARIAS] ADD  DEFAULT (getdate()) FOR [Fecha_Creacion]
GO
ALTER TABLE [INT].[INCIDENTES_OPERATIVOS] ADD  DEFAULT (getdate()) FOR [Fecha_Creacion]
GO
ALTER TABLE [INT].[TIEMPOS_PROCESO_PASAJEROS] ADD  DEFAULT (getdate()) FOR [Fecha_Creacion]
GO
ALTER TABLE [LGT].[LOGISTICA_TERRESTRE] ADD  DEFAULT ('Programado') FOR [Estado]
GO
ALTER TABLE [LGT].[LOGISTICA_TERRESTRE] ADD  DEFAULT (getdate()) FOR [Fecha_Creacion]
GO
ALTER TABLE [MET].[CLIMA] ADD  DEFAULT (getdate()) FOR [Fecha_Creacion]
GO
ALTER TABLE [MIG].[MIGRACION_ADUANA] ADD  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [MIG].[MIGRACION_ADUANA] ADD  DEFAULT (getdate()) FOR [Fecha_Creacion]
GO
ALTER TABLE [MKT].[ATENCION_CLIENTE] ADD  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [MKT].[ATENCION_CLIENTE] ADD  DEFAULT (getdate()) FOR [Fecha_Creacion]
GO
ALTER TABLE [MKT].[CAMP_MARKETING] ADD  DEFAULT ('Activa') FOR [Estado]
GO
ALTER TABLE [MKT].[CAMP_MARKETING] ADD  DEFAULT (getdate()) FOR [Fecha_Creacion]
GO
ALTER TABLE [MKT].[ENCUESTAS_OPINIONES_CLIENTES] ADD  DEFAULT (getdate()) FOR [Fecha_Creacion]
GO
ALTER TABLE [MKT].[FIDELIDAD_PASAJERO] ADD  DEFAULT ((0)) FOR [Puntos_Acumulados]
GO
ALTER TABLE [MKT].[FIDELIDAD_PASAJERO] ADD  DEFAULT (getdate()) FOR [Fecha_Creacion]
GO
ALTER TABLE [MKT].[OFERTAS_APLICADAS] ADD  DEFAULT (getdate()) FOR [Fecha_Creacion]
GO
ALTER TABLE [OPA].[AEROLINEAS] ADD  DEFAULT ((1)) FOR [Activa]
GO
ALTER TABLE [OPA].[AEROLINEAS] ADD  DEFAULT (getdate()) FOR [Fecha_Creacion]
GO
ALTER TABLE [OPA].[AERONAVES] ADD  DEFAULT ('Operativa') FOR [Estado]
GO
ALTER TABLE [OPA].[AERONAVES] ADD  DEFAULT (getdate()) FOR [Fecha_Creacion]
GO
ALTER TABLE [PAS].[PASAJEROS] ADD  DEFAULT (getdate()) FOR [Fecha_Creacion]
GO
ALTER TABLE [PRE].[HISTORICO_OPERACIONAL_VUELOS] ADD  DEFAULT (getdate()) FOR [Fecha_Creacion]
GO
ALTER TABLE [RRH].[ASISTENCIAS_EMPLEADOS] ADD  DEFAULT ('Presente') FOR [Estado]
GO
ALTER TABLE [RRH].[ASISTENCIAS_EMPLEADOS] ADD  DEFAULT (getdate()) FOR [Fecha_Creacion]
GO
ALTER TABLE [RRH].[EMPLEADOS] ADD  DEFAULT ('Activo') FOR [Estado]
GO
ALTER TABLE [RRH].[EMPLEADOS] ADD  DEFAULT (getdate()) FOR [Fecha_Creacion]
GO
ALTER TABLE [RRH].[TURNOS_EMPLEADOS] ADD  DEFAULT ('Asignado') FOR [Estado]
GO
ALTER TABLE [RRH].[TURNOS_EMPLEADOS] ADD  DEFAULT (getdate()) FOR [Fecha_Creacion]
GO
ALTER TABLE [SAB].[SERVICIOS_BORDO] ADD  DEFAULT ((0)) FOR [Costo]
GO
ALTER TABLE [SAB].[SERVICIOS_BORDO] ADD  DEFAULT (getdate()) FOR [Fecha_Creacion]
GO
ALTER TABLE [SAB].[SERVICIOS_CONSUMIDOS] ADD  DEFAULT (getdate()) FOR [Fecha_Solicitud]
GO
ALTER TABLE [SAB].[SERVICIOS_CONSUMIDOS] ADD  DEFAULT (getdate()) FOR [Fecha_Creacion]
GO
ALTER TABLE [SEG].[CONTROLES_SEGURIDAD] ADD  DEFAULT (getdate()) FOR [Fecha_Creacion]
GO
ALTER TABLE [SEG].[INCIDENTES_SEGURIDAD] ADD  DEFAULT (getdate()) FOR [Fecha_Creacion]
GO
ALTER TABLE [TEC].[MANTENIMIENTO] ADD  DEFAULT ('Programado') FOR [Estado]
GO
ALTER TABLE [TEC].[MANTENIMIENTO] ADD  DEFAULT (getdate()) FOR [Fecha_Creacion]
GO
ALTER TABLE [TRP].[TRIPULACION] ADD  DEFAULT (getdate()) FOR [Fecha_Creacion]
GO
ALTER TABLE [VUE].[FRECUENCIAS] ADD  DEFAULT (getdate()) FOR [Fecha_Creacion]
GO
ALTER TABLE [VUE].[HORARIOS_PROGRAMADOS] ADD  DEFAULT (getdate()) FOR [Fecha_Creacion]
GO
ALTER TABLE [VUE].[RUTAS_AEREAS] ADD  DEFAULT (getdate()) FOR [Fecha_Creacion]
GO
ALTER TABLE [VUE].[VUELOS] ADD  DEFAULT ('Programado') FOR [Estado]
GO
ALTER TABLE [VUE].[VUELOS] ADD  DEFAULT (getdate()) FOR [Fecha_Creacion]
GO

/* Comandos ALTER TABLE ... ADD CONSTRAINT que se utilizan para definir reglas que la base de datos debe cumplir 
para garantizar la integridad, precisión y confiabilidad de los datos.

Enfoque en FOREIGN KEY (Claves Foráneas)
Las Claves Foráneas son cruciales para el diseño de bases de datos relacionales como SIAA, 
ya que aplican la integridad referencial.

Ej:
ALTER TABLE [ABC].[COMBUSTIBLE]  WITH CHECK ADD  CONSTRAINT [FK_Combustible_Aeronave] FOREIGN KEY([ID_Aeronave])
REFERENCES [OPA].[AERONAVES] ([ID_Aeronave])

1. El Vínculo Relacional
Tabla Hija (Referenciadora): La tabla que contiene la FOREIGN KEY. En el ejemplo, es [ABC].[COMBUSTIBLE].
Tabla Padre (Referenciada): La tabla que contiene la PRIMARY KEY a la que se hace referencia. 
En el ejemplo, es [OPA].[AERONAVES].

2. ¿Qué Garantiza?
En el ejemplo, la clave foránea [FK_Combustible_Aeronave] garantiza que:

- Consistencia: Cada registro de consumo de combustible que se inserte en la tabla [ABC].[COMBUSTIBLE] 
debe estar asociado a un ID de Aeronave que existe realmente en la tabla maestra [OPA].[AERONAVES].

- Prevención de Huérfanos: No podemos eliminar una Aeronave de la tabla [OPA].[AERONAVES] 
si todavía tiene registros de Combustible asociados en la tabla [ABC].[COMBUSTIBLE]. 
Esto evita que haya registros "huérfanos" que apunten a datos inexistentes.

3. El Componente WITH CHECK
La cláusula WITH CHECK (que vemos justo antes de ADD CONSTRAINT) indica que el sistema debe:

Verificar los datos existentes en la tabla [ABC].[COMBUSTIBLE] antes de crear la restricción.
Aplicar la restricción a todas las futuras inserciones y actualizaciones de datos.

En resumen: Todas las FOREIGN KEY que estamos viendo están construyendo el mapa de relaciones de la base de datos SIAA 
(Pasajeros asociados a Reservaciones, Reservaciones asociadas a Vuelos, Vuelos asociados a Aeronaves, etc.), 
asegurando que la información esté interconectada y sea lógicamente válida.

En este script, el tipo de restricción más común que estás añadiendo es la Clave Foránea (FOREIGN KEY).*/

ALTER TABLE [ABC].[COMBUSTIBLE]  WITH CHECK ADD  CONSTRAINT [FK_Combustible_Aeronave] FOREIGN KEY([ID_Aeronave])
REFERENCES [OPA].[AERONAVES] ([ID_Aeronave])
GO
ALTER TABLE [ABC].[COMBUSTIBLE] CHECK CONSTRAINT [FK_Combustible_Aeronave]
GO
ALTER TABLE [AUD].[REPORTES_GENERADOS]  WITH CHECK ADD  CONSTRAINT [FK_Reporte_Auditoria] FOREIGN KEY([ID_Evento])
REFERENCES [AUD].[AUDITORIA_SISTEMA] ([ID_Evento])
GO
ALTER TABLE [AUD].[REPORTES_GENERADOS] CHECK CONSTRAINT [FK_Reporte_Auditoria]
GO
ALTER TABLE [COM].[GESTION_ADMVUELOS]  WITH CHECK ADD  CONSTRAINT [FK_Gestion_Aerolinea] FOREIGN KEY([ID_Aerolinea])
REFERENCES [OPA].[AEROLINEAS] ([ID_Aerolinea])
GO
ALTER TABLE [COM].[GESTION_ADMVUELOS] CHECK CONSTRAINT [FK_Gestion_Aerolinea]
GO
ALTER TABLE [COM].[GESTION_ADMVUELOS]  WITH CHECK ADD  CONSTRAINT [FK_Gestion_Pasajero] FOREIGN KEY([ID_Pasajero])
REFERENCES [PAS].[PASAJEROS] ([ID_Pasajero])
GO
ALTER TABLE [COM].[GESTION_ADMVUELOS] CHECK CONSTRAINT [FK_Gestion_Pasajero]
GO
ALTER TABLE [COM].[GESTION_ADMVUELOS]  WITH CHECK ADD  CONSTRAINT [FK_Gestion_Paseabordaje] FOREIGN KEY([ID_Paseabordaje])
REFERENCES [COM].[PASES_ABORDAJE] ([ID_Paseabordaje])
GO
ALTER TABLE [COM].[GESTION_ADMVUELOS] CHECK CONSTRAINT [FK_Gestion_Paseabordaje]
GO
ALTER TABLE [COM].[GESTION_ADMVUELOS]  WITH CHECK ADD  CONSTRAINT [FK_Gestion_Vuelo] FOREIGN KEY([ID_Vuelo])
REFERENCES [VUE].[VUELOS] ([ID_Vuelo])
GO
ALTER TABLE [COM].[GESTION_ADMVUELOS] CHECK CONSTRAINT [FK_Gestion_Vuelo]
GO
ALTER TABLE [COM].[PAGOS]  WITH CHECK ADD  CONSTRAINT [FK_Pago_Reservacion] FOREIGN KEY([ID_Reservacion])
REFERENCES [COM].[RESERVACIONES] ([ID_Reservacion])
GO
ALTER TABLE [COM].[PAGOS] CHECK CONSTRAINT [FK_Pago_Reservacion]
GO
ALTER TABLE [COM].[PASES_ABORDAJE]  WITH CHECK ADD  CONSTRAINT [FK_PASES_ABORDAJE_Pasajero] FOREIGN KEY([ID_Pasajero])
REFERENCES [PAS].[PASAJEROS] ([ID_Pasajero])
GO
ALTER TABLE [COM].[PASES_ABORDAJE] CHECK CONSTRAINT [FK_PASES_ABORDAJE_Pasajero]
GO
ALTER TABLE [COM].[PASES_ABORDAJE]  WITH CHECK ADD  CONSTRAINT [FK_PASES_ABORDAJE_Vuelo] FOREIGN KEY([ID_Vuelo])
REFERENCES [VUE].[VUELOS] ([ID_Vuelo])
GO
ALTER TABLE [COM].[PASES_ABORDAJE] CHECK CONSTRAINT [FK_PASES_ABORDAJE_Vuelo]
GO
ALTER TABLE [COM].[RESERVACIONES]  WITH CHECK ADD  CONSTRAINT [FK_Reservacion_Pasajero] FOREIGN KEY([ID_Pasajero])
REFERENCES [PAS].[PASAJEROS] ([ID_Pasajero])
GO
ALTER TABLE [COM].[RESERVACIONES] CHECK CONSTRAINT [FK_Reservacion_Pasajero]
GO
ALTER TABLE [COM].[RESERVACIONES]  WITH CHECK ADD  CONSTRAINT [FK_Reservacion_Vuelo] FOREIGN KEY([ID_Vuelo])
REFERENCES [VUE].[VUELOS] ([ID_Vuelo])
GO
ALTER TABLE [COM].[RESERVACIONES] CHECK CONSTRAINT [FK_Reservacion_Vuelo]
GO
ALTER TABLE [CRG].[CARGAS_TRANSPORTADAS]  WITH CHECK ADD  CONSTRAINT [FK_Carga_Operador] FOREIGN KEY([ID_Operador])
REFERENCES [CRG].[OPERADORES_CARGA] ([ID_Operador])
GO
ALTER TABLE [CRG].[CARGAS_TRANSPORTADAS] CHECK CONSTRAINT [FK_Carga_Operador]
GO
ALTER TABLE [CRG].[CARGAS_TRANSPORTADAS]  WITH CHECK ADD  CONSTRAINT [FK_Carga_Vuelo] FOREIGN KEY([ID_VueloCarga])
REFERENCES [CRG].[VUELOS_CARGA] ([ID_VueloCarga])
GO
ALTER TABLE [CRG].[CARGAS_TRANSPORTADAS] CHECK CONSTRAINT [FK_Carga_Vuelo]
GO
ALTER TABLE [CRG].[OPERADORES_CARGA]  WITH CHECK ADD  CONSTRAINT [FK_Operador_Pais] FOREIGN KEY([Pais_Origen])
REFERENCES [INF].[PAISES] ([ID_Pais])
GO
ALTER TABLE [CRG].[OPERADORES_CARGA] CHECK CONSTRAINT [FK_Operador_Pais]
GO
ALTER TABLE [CRG].[VUELOS_CARGA]  WITH CHECK ADD  CONSTRAINT [FK_VueloCarga_Aeronave] FOREIGN KEY([ID_Aeronave])
REFERENCES [OPA].[AERONAVES] ([ID_Aeronave])
GO
ALTER TABLE [CRG].[VUELOS_CARGA] CHECK CONSTRAINT [FK_VueloCarga_Aeronave]
GO
ALTER TABLE [CRG].[VUELOS_CARGA]  WITH CHECK ADD  CONSTRAINT [FK_VueloCarga_Ruta] FOREIGN KEY([ID_Ruta])
REFERENCES [VUE].[RUTAS_AEREAS] ([ID_Ruta])
GO
ALTER TABLE [CRG].[VUELOS_CARGA] CHECK CONSTRAINT [FK_VueloCarga_Ruta]
GO
ALTER TABLE [EMR].[INTERVENCIONES_EMERGENCIA]  WITH CHECK ADD  CONSTRAINT [FK_Intervencion_Unidad] FOREIGN KEY([ID_Unidad])
REFERENCES [EMR].[UNIDADES_EMERGENCIA] ([ID_Unidad])
GO
ALTER TABLE [EMR].[INTERVENCIONES_EMERGENCIA] CHECK CONSTRAINT [FK_Intervencion_Unidad]
GO
ALTER TABLE [EMR].[INTERVENCIONES_EMERGENCIA]  WITH CHECK ADD  CONSTRAINT [FK_Intervencion_Vuelo] FOREIGN KEY([ID_Vuelo])
REFERENCES [VUE].[VUELOS] ([ID_Vuelo])
GO
ALTER TABLE [EMR].[INTERVENCIONES_EMERGENCIA] CHECK CONSTRAINT [FK_Intervencion_Vuelo]
GO
ALTER TABLE [EQP].[EQUIPAJE]  WITH CHECK ADD  CONSTRAINT [FK_Equipaje_Pasajero] FOREIGN KEY([ID_Pasajero])
REFERENCES [PAS].[PASAJEROS] ([ID_Pasajero])
GO
ALTER TABLE [EQP].[EQUIPAJE] CHECK CONSTRAINT [FK_Equipaje_Pasajero]
GO
ALTER TABLE [EQP].[EQUIPAJE]  WITH CHECK ADD  CONSTRAINT [FK_Equipaje_Vuelo] FOREIGN KEY([ID_Vuelo])
REFERENCES [VUE].[VUELOS] ([ID_Vuelo])
GO
ALTER TABLE [EQP].[EQUIPAJE] CHECK CONSTRAINT [FK_Equipaje_Vuelo]
GO
ALTER TABLE [EQP].[EQUIPAMIENTO_ESPECIAL]  WITH CHECK ADD  CONSTRAINT [FK_Equipamiento_Reservacion] FOREIGN KEY([ID_Reservacion])
REFERENCES [COM].[RESERVACIONES] ([ID_Reservacion])
GO
ALTER TABLE [EQP].[EQUIPAMIENTO_ESPECIAL] CHECK CONSTRAINT [FK_Equipamiento_Reservacion]
GO
ALTER TABLE [INF].[AEROPUERTOS]  WITH CHECK ADD  CONSTRAINT [FK_Aeropuerto_Pais] FOREIGN KEY([ID_Pais])
REFERENCES [INF].[PAISES] ([ID_Pais])
GO
ALTER TABLE [INF].[AEROPUERTOS] CHECK CONSTRAINT [FK_Aeropuerto_Pais]
GO
ALTER TABLE [INF].[PUERTAS_EMBARQUE]  WITH CHECK ADD  CONSTRAINT [FK_Puerta_Terminal] FOREIGN KEY([ID_Terminal])
REFERENCES [INF].[TERMINALES] ([ID_Terminal])
GO
ALTER TABLE [INF].[PUERTAS_EMBARQUE] CHECK CONSTRAINT [FK_Puerta_Terminal]
GO
ALTER TABLE [INF].[TERMINALES]  WITH CHECK ADD  CONSTRAINT [FK_Terminal_Aeropuerto] FOREIGN KEY([ID_Aeropuerto])
REFERENCES [INF].[AEROPUERTOS] ([ID_Aeropuerto])
GO
ALTER TABLE [INF].[TERMINALES] CHECK CONSTRAINT [FK_Terminal_Aeropuerto]
GO
ALTER TABLE [INT].[INCIDENTES_OPERATIVOS]  WITH CHECK ADD  CONSTRAINT [FK_Incidente_Aeronave] FOREIGN KEY([ID_Aeronave])
REFERENCES [OPA].[AERONAVES] ([ID_Aeronave])
GO
ALTER TABLE [INT].[INCIDENTES_OPERATIVOS] CHECK CONSTRAINT [FK_Incidente_Aeronave]
GO
ALTER TABLE [INT].[INCIDENTES_OPERATIVOS]  WITH CHECK ADD  CONSTRAINT [FK_Incidente_Vuelo] FOREIGN KEY([ID_Vuelo])
REFERENCES [VUE].[VUELOS] ([ID_Vuelo])
GO
ALTER TABLE [INT].[INCIDENTES_OPERATIVOS] CHECK CONSTRAINT [FK_Incidente_Vuelo]
GO
ALTER TABLE [INT].[TIEMPOS_PROCESO_PASAJEROS]  WITH CHECK ADD  CONSTRAINT [FK_TiempoPasajero] FOREIGN KEY([ID_Pasajero])
REFERENCES [PAS].[PASAJEROS] ([ID_Pasajero])
GO
ALTER TABLE [INT].[TIEMPOS_PROCESO_PASAJEROS] CHECK CONSTRAINT [FK_TiempoPasajero]
GO
ALTER TABLE [MET].[CLIMA]  WITH CHECK ADD  CONSTRAINT [FK_Clima_Aeropuerto] FOREIGN KEY([ID_Aeropuerto])
REFERENCES [INF].[AEROPUERTOS] ([ID_Aeropuerto])
GO
ALTER TABLE [MET].[CLIMA] CHECK CONSTRAINT [FK_Clima_Aeropuerto]
GO
ALTER TABLE [MIG].[MIGRACION_ADUANA]  WITH CHECK ADD  CONSTRAINT [FK_MigracionAduana_Reservacion] FOREIGN KEY([ID_Reservacion])
REFERENCES [COM].[RESERVACIONES] ([ID_Reservacion])
GO
ALTER TABLE [MIG].[MIGRACION_ADUANA] CHECK CONSTRAINT [FK_MigracionAduana_Reservacion]
GO
ALTER TABLE [MKT].[ATENCION_CLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_AtencionCliente_Pasajero] FOREIGN KEY([ID_Pasajero])
REFERENCES [PAS].[PASAJEROS] ([ID_Pasajero])
GO
ALTER TABLE [MKT].[ATENCION_CLIENTE] CHECK CONSTRAINT [FK_AtencionCliente_Pasajero]
GO
ALTER TABLE [MKT].[ENCUESTAS_OPINIONES_CLIENTES]  WITH CHECK ADD  CONSTRAINT [FK_Encuesta_Pasajero] FOREIGN KEY([ID_Pasajero])
REFERENCES [PAS].[PASAJEROS] ([ID_Pasajero])
GO
ALTER TABLE [MKT].[ENCUESTAS_OPINIONES_CLIENTES] CHECK CONSTRAINT [FK_Encuesta_Pasajero]
GO
ALTER TABLE [MKT].[ENCUESTAS_OPINIONES_CLIENTES]  WITH CHECK ADD  CONSTRAINT [FK_Encuesta_Vuelo] FOREIGN KEY([ID_Vuelo])
REFERENCES [VUE].[VUELOS] ([ID_Vuelo])
GO
ALTER TABLE [MKT].[ENCUESTAS_OPINIONES_CLIENTES] CHECK CONSTRAINT [FK_Encuesta_Vuelo]
GO
ALTER TABLE [MKT].[FIDELIDAD_PASAJERO]  WITH CHECK ADD  CONSTRAINT [FK_Fidelidad_Pasajero] FOREIGN KEY([ID_Pasajero])
REFERENCES [PAS].[PASAJEROS] ([ID_Pasajero])
GO
ALTER TABLE [MKT].[FIDELIDAD_PASAJERO] CHECK CONSTRAINT [FK_Fidelidad_Pasajero]
GO
ALTER TABLE [MKT].[OFERTAS_APLICADAS]  WITH CHECK ADD  CONSTRAINT [FK_Oferta_Campaña] FOREIGN KEY([ID_Camp])
REFERENCES [MKT].[CAMP_MARKETING] ([ID_Camp])
GO
ALTER TABLE [MKT].[OFERTAS_APLICADAS] CHECK CONSTRAINT [FK_Oferta_Campaña]
GO
ALTER TABLE [MKT].[OFERTAS_APLICADAS]  WITH CHECK ADD  CONSTRAINT [FK_Oferta_Reservacion] FOREIGN KEY([ID_Reservacion])
REFERENCES [COM].[RESERVACIONES] ([ID_Reservacion])
GO
ALTER TABLE [MKT].[OFERTAS_APLICADAS] CHECK CONSTRAINT [FK_Oferta_Reservacion]
GO
ALTER TABLE [OPA].[AEROLINEAS]  WITH CHECK ADD  CONSTRAINT [FK_Aerolinea_Pais] FOREIGN KEY([Pais_Origen])
REFERENCES [INF].[PAISES] ([ID_Pais])
GO
ALTER TABLE [OPA].[AEROLINEAS] CHECK CONSTRAINT [FK_Aerolinea_Pais]
GO
ALTER TABLE [OPA].[AERONAVES]  WITH CHECK ADD  CONSTRAINT [FK_Aeronave_Aerolinea] FOREIGN KEY([ID_Aerolinea])
REFERENCES [OPA].[AEROLINEAS] ([ID_Aerolinea])
GO
ALTER TABLE [OPA].[AERONAVES] CHECK CONSTRAINT [FK_Aeronave_Aerolinea]
GO
ALTER TABLE [PRE].[HISTORICO_OPERACIONAL_VUELOS]  WITH CHECK ADD  CONSTRAINT [FK_Historico_Vuelo] FOREIGN KEY([ID_Vuelo])
REFERENCES [VUE].[VUELOS] ([ID_Vuelo])
GO
ALTER TABLE [PRE].[HISTORICO_OPERACIONAL_VUELOS] CHECK CONSTRAINT [FK_Historico_Vuelo]
GO
ALTER TABLE [RRH].[ASISTENCIAS_EMPLEADOS]  WITH CHECK ADD  CONSTRAINT [FK_Asistencia_Empleado] FOREIGN KEY([ID_Empleado])
REFERENCES [RRH].[EMPLEADOS] ([ID_Empleado])
GO
ALTER TABLE [RRH].[ASISTENCIAS_EMPLEADOS] CHECK CONSTRAINT [FK_Asistencia_Empleado]
GO
ALTER TABLE [RRH].[EMPLEADOS]  WITH CHECK ADD  CONSTRAINT [FK_Empleado_Aeropuerto] FOREIGN KEY([ID_Aeropuerto])
REFERENCES [INF].[AEROPUERTOS] ([ID_Aeropuerto])
GO
ALTER TABLE [RRH].[EMPLEADOS] CHECK CONSTRAINT [FK_Empleado_Aeropuerto]
GO
ALTER TABLE [RRH].[TURNOS_EMPLEADOS]  WITH CHECK ADD  CONSTRAINT [FK_Turno_Empleado] FOREIGN KEY([ID_Empleado])
REFERENCES [RRH].[EMPLEADOS] ([ID_Empleado])
GO
ALTER TABLE [RRH].[TURNOS_EMPLEADOS] CHECK CONSTRAINT [FK_Turno_Empleado]
GO
ALTER TABLE [SAB].[SERVICIOS_BORDO]  WITH CHECK ADD  CONSTRAINT [FK_ServiciosVuelo] FOREIGN KEY([ID_Vuelo])
REFERENCES [VUE].[VUELOS] ([ID_Vuelo])
GO
ALTER TABLE [SAB].[SERVICIOS_BORDO] CHECK CONSTRAINT [FK_ServiciosVuelo]
GO
ALTER TABLE [SAB].[SERVICIOS_CONSUMIDOS]  WITH CHECK ADD  CONSTRAINT [FK_Consumo_Pasajero] FOREIGN KEY([ID_Pasajero])
REFERENCES [PAS].[PASAJEROS] ([ID_Pasajero])
GO
ALTER TABLE [SAB].[SERVICIOS_CONSUMIDOS] CHECK CONSTRAINT [FK_Consumo_Pasajero]
GO
ALTER TABLE [SAB].[SERVICIOS_CONSUMIDOS]  WITH CHECK ADD  CONSTRAINT [FK_Consumo_Servicio] FOREIGN KEY([ID_Servicio])
REFERENCES [SAB].[SERVICIOS_BORDO] ([ID_Servicio])
GO
ALTER TABLE [SAB].[SERVICIOS_CONSUMIDOS] CHECK CONSTRAINT [FK_Consumo_Servicio]
GO
ALTER TABLE [SEG].[CONTROLES_SEGURIDAD]  WITH CHECK ADD  CONSTRAINT [FK_Control_Vuelo] FOREIGN KEY([ID_Vuelo])
REFERENCES [VUE].[VUELOS] ([ID_Vuelo])
GO
ALTER TABLE [SEG].[CONTROLES_SEGURIDAD] CHECK CONSTRAINT [FK_Control_Vuelo]
GO
ALTER TABLE [SEG].[INCIDENTES_SEGURIDAD]  WITH CHECK ADD  CONSTRAINT [FK_IncidentesSeguridad_Vuelo] FOREIGN KEY([ID_Vuelo])
REFERENCES [VUE].[VUELOS] ([ID_Vuelo])
GO
ALTER TABLE [SEG].[INCIDENTES_SEGURIDAD] CHECK CONSTRAINT [FK_IncidentesSeguridad_Vuelo]
GO
ALTER TABLE [TEC].[MANTENIMIENTO]  WITH CHECK ADD  CONSTRAINT [FK_Mantenimiento_Aeronave] FOREIGN KEY([ID_Aeronave])
REFERENCES [OPA].[AERONAVES] ([ID_Aeronave])
GO
ALTER TABLE [TEC].[MANTENIMIENTO] CHECK CONSTRAINT [FK_Mantenimiento_Aeronave]
GO
ALTER TABLE [TRP].[TRIPULACION]  WITH CHECK ADD  CONSTRAINT [FK_Tripulacion_Empleado] FOREIGN KEY([ID_Empleado])
REFERENCES [RRH].[EMPLEADOS] ([ID_Empleado])
GO
ALTER TABLE [TRP].[TRIPULACION] CHECK CONSTRAINT [FK_Tripulacion_Empleado]
GO
ALTER TABLE [TRP].[TRIPULACION]  WITH CHECK ADD  CONSTRAINT [FK_Tripulacion_Vuelo] FOREIGN KEY([ID_Vuelo])
REFERENCES [VUE].[VUELOS] ([ID_Vuelo])
GO
ALTER TABLE [TRP].[TRIPULACION] CHECK CONSTRAINT [FK_Tripulacion_Vuelo]
GO
ALTER TABLE [VUE].[HORARIOS_PROGRAMADOS]  WITH CHECK ADD  CONSTRAINT [FK_Horarios_Frecuencia] FOREIGN KEY([ID_Frecuencia])
REFERENCES [VUE].[FRECUENCIAS] ([ID_Frecuencia])
GO
ALTER TABLE [VUE].[HORARIOS_PROGRAMADOS] CHECK CONSTRAINT [FK_Horarios_Frecuencia]
GO
ALTER TABLE [VUE].[HORARIOS_PROGRAMADOS]  WITH CHECK ADD  CONSTRAINT [FK_Horarios_Ruta] FOREIGN KEY([ID_Ruta])
REFERENCES [VUE].[RUTAS_AEREAS] ([ID_Ruta])
GO
ALTER TABLE [VUE].[HORARIOS_PROGRAMADOS] CHECK CONSTRAINT [FK_Horarios_Ruta]
GO
ALTER TABLE [VUE].[RUTAS_AEREAS]  WITH CHECK ADD  CONSTRAINT [FK_Ruta_Destino] FOREIGN KEY([ID_Aeropuerto_Destino])
REFERENCES [INF].[AEROPUERTOS] ([ID_Aeropuerto])
GO
ALTER TABLE [VUE].[RUTAS_AEREAS] CHECK CONSTRAINT [FK_Ruta_Destino]
GO
ALTER TABLE [VUE].[RUTAS_AEREAS]  WITH CHECK ADD  CONSTRAINT [FK_Ruta_Origen] FOREIGN KEY([ID_Aeropuerto_Origen])
REFERENCES [INF].[AEROPUERTOS] ([ID_Aeropuerto])
GO
ALTER TABLE [VUE].[RUTAS_AEREAS] CHECK CONSTRAINT [FK_Ruta_Origen]
GO
ALTER TABLE [VUE].[VUELOS]  WITH CHECK ADD  CONSTRAINT [FK_Vuelo_Aeronave] FOREIGN KEY([ID_Aeronave])
REFERENCES [OPA].[AERONAVES] ([ID_Aeronave])
GO
ALTER TABLE [VUE].[VUELOS] CHECK CONSTRAINT [FK_Vuelo_Aeronave]
GO
ALTER TABLE [VUE].[VUELOS]  WITH CHECK ADD  CONSTRAINT [FK_Vuelo_Ruta] FOREIGN KEY([ID_Ruta])
REFERENCES [VUE].[RUTAS_AEREAS] ([ID_Ruta])
GO
ALTER TABLE [VUE].[VUELOS] CHECK CONSTRAINT [FK_Vuelo_Ruta]
GO
ALTER TABLE [VUE].[VUELOS]  WITH CHECK ADD  CONSTRAINT [FK_Vuelos_Horarios] FOREIGN KEY([ID_Horario])
REFERENCES [VUE].[HORARIOS_PROGRAMADOS] ([ID_Horario])
GO
ALTER TABLE [VUE].[VUELOS] CHECK CONSTRAINT [FK_Vuelos_Horarios]
GO
ALTER TABLE [MKT].[ENCUESTAS_OPINIONES_CLIENTES]  WITH CHECK ADD CHECK  (([Calificacion_Global]>=(1) AND [Calificacion_Global]<=(5)))
GO
ALTER TABLE [MKT].[ENCUESTAS_OPINIONES_CLIENTES]  WITH CHECK ADD CHECK  (([Comodidad]>=(1) AND [Comodidad]<=(5)))
GO
ALTER TABLE [MKT].[ENCUESTAS_OPINIONES_CLIENTES]  WITH CHECK ADD CHECK  (([Limpieza]>=(1) AND [Limpieza]<=(5)))
GO
ALTER TABLE [MKT].[ENCUESTAS_OPINIONES_CLIENTES]  WITH CHECK ADD CHECK  (([Puntualidad]>=(1) AND [Puntualidad]<=(5)))
GO
ALTER TABLE [MKT].[ENCUESTAS_OPINIONES_CLIENTES]  WITH CHECK ADD CHECK  (([Servicio_Bordo]>=(1) AND [Servicio_Bordo]<=(5)))
GO


-- ******************************************************************
-- BLOQUE 22: TABLA DE HISTÓRICO Y PROCEDIMIENTOS PARA ML
-- OBJETIVO: Crear la tabla que servirá como fuente de datos
-- para el modelo de Machine Learning (IA) de predicción de retrasos.
-- ******************************************************************

-- 1. CREACIÓN DEL ESQUEMA PRE (PREDICCIONES/PREPARACIÓN)
--------------------------------------------------------------
IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = 'PRE')
BEGIN
    EXEC('CREATE SCHEMA PRE');
END
GO

-- 2. CREACIÓN DE LA TABLA: PRE.HISTORICO_OPERACIONAL_VUELOS
-- Esta tabla consolida la información de Vuelos, Clima, Carga y Operaciones.
-----------------------------------------------------------------------------
IF OBJECT_ID('PRE.HISTORICO_OPERACIONAL_VUELOS', 'U') IS NOT NULL
BEGIN
    DROP TABLE PRE.HISTORICO_OPERACIONAL_VUELOS;
END
GO

CREATE TABLE PRE.HISTORICO_OPERACIONAL_VUELOS (
    ID_Historico INT IDENTITY(1,1) PRIMARY KEY,
    ID_Vuelo INT NOT NULL, 
    Fecha DATE NOT NULL,
    Hora_Salida_Programada TIME NOT NULL,
    Hora_Salida_Real TIME NULL,
    -- Datos del clima (Origen del vuelo)
    Clima_Temperatura DECIMAL(5,2) NULL,
    Clima_Humedad DECIMAL(5,2) NULL,
    Clima_Condicion NVARCHAR(50) NULL,
    -- Información operativa consolidada
    Retraso_Minutos INT NULL,
    Estado_Vuelo NVARCHAR(30) NOT NULL, 
    Carga_Pasajeros INT NULL,
    Carga_Carga_Kg DECIMAL(10,2) NULL,
    -- Campo para almacenar la predicción de la IA
    Observaciones NVARCHAR(255) NULL, 
    Fecha_Creacion DATETIME2 DEFAULT GETDATE(),
    Fecha_Modificacion DATETIME2 NULL,
    
    -- Restricción: Un vuelo solo debe tener un registro en el histórico
    CONSTRAINT UQ_Historico_ID_Vuelo UNIQUE (ID_Vuelo),
    -- Clave Foránea a la tabla de VUELOS (VUE.VUELOS)
    CONSTRAINT FK_Historico_Vuelo FOREIGN KEY (ID_Vuelo) 
    REFERENCES VUE.VUELOS(ID_Vuelo)
);
GO

-- 3. PROCEDIMIENTOS ALMACENADOS (STORED PROCEDURES)
--------------------------------------------------------------

-- 3.1 SP_Insertar_Historico_Vuelo (El Corazón del Proceso - Realiza el UPSERT)
-- Este SP es llamado por los otros dos para actualizar o insertar un solo vuelo.
-----------------------------------------------------------------------------
IF OBJECT_ID('dbo.SP_Insertar_Historico_Vuelo', 'P') IS NOT NULL
BEGIN
    DROP PROCEDURE dbo.SP_Insertar_Historico_Vuelo;
END
GO

CREATE PROCEDURE dbo.SP_Insertar_Historico_Vuelo
    @ID_Vuelo INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE
        @Fecha DATE, @HoraProgramada TIME, @HoraReal TIME, @Estado NVARCHAR(30),
        @Temp DECIMAL(5,2), @Humedad DECIMAL(5,2), @Condicion NVARCHAR(50),
        @RetrasoMin INT, @Pasajeros INT, @CargaKg DECIMAL(10,2),
        @ID_Aeropuerto_Origen_Vuelo INT;

    -- A. Traer datos básicos del vuelo y su aeropuerto de origen
    SELECT
        @Fecha = V.Fecha_Salida,
        @HoraProgramada = V.Hora_Salida,
        @HoraReal = V.Hora_Llegada,
        @Estado = V.Estado,
        @ID_Aeropuerto_Origen_Vuelo = RA.ID_Aeropuerto_Origen
    FROM VUE.VUELOS AS V
    INNER JOIN VUE.RUTAS_AEREAS AS RA ON V.ID_Ruta = RA.ID_Ruta
    WHERE V.ID_Vuelo = @ID_Vuelo;

    IF @Fecha IS NULL
        RETURN; -- Vuelo no existe

    -- B. Calcular retraso (Diferencia de hora real vs programada en minutos)
    SET @RetrasoMin = ISNULL(DATEDIFF(MINUTE, @HoraProgramada, @HoraReal), 0);

    -- C. Obtener clima más cercano al aeropuerto de ORIGEN del vuelo
    SELECT TOP 1
        @Temp = T.Temperatura_C,
        @Humedad = T.Humedad_Porc,
        @Condicion = T.Condicion
    FROM MET.CLIMA AS T
    WHERE T.Fecha = @Fecha
    AND T.ID_Aeropuerto = @ID_Aeropuerto_Origen_Vuelo
    ORDER BY ABS(DATEDIFF(MINUTE, T.Hora, @HoraProgramada));

    -- D. Contar pasajeros y sumar carga de equipaje
    SELECT @Pasajeros = COUNT(*) FROM COM.RESERVACIONES WHERE ID_Vuelo = @ID_Vuelo;
    SELECT @CargaKg = ISNULL(SUM(Peso), 0) FROM EQP.EQUIPAJE WHERE ID_Vuelo = @ID_Vuelo;

    -- E. Realizar el UPSERT (MERGE) en PRE.HISTORICO_OPERACIONAL_VUELOS
    MERGE PRE.HISTORICO_OPERACIONAL_VUELOS AS Target
    USING (SELECT @ID_Vuelo AS ID_Vuelo_Source) AS Source
    ON (Target.ID_Vuelo = Source.ID_Vuelo_Source)
    WHEN MATCHED THEN
        -- Actualizar (si hay cambios en cualquier campo de datos)
        UPDATE SET
            Target.Fecha = @Fecha,
            Target.Hora_Salida_Programada = @HoraProgramada,
            Target.Hora_Salida_Real = @HoraReal,
            Target.Clima_Temperatura = @Temp,
            Target.Clima_Humedad = @Humedad,
            Target.Clima_Condicion = @Condicion,
            Target.Retraso_Minutos = @RetrasoMin,
            Target.Estado_Vuelo = @Estado,
            Target.Carga_Pasajeros = @Pasajeros,
            Target.Carga_Carga_Kg = @CargaKg,
            Target.Fecha_Modificacion = GETDATE()
    WHEN NOT MATCHED BY TARGET THEN
        -- Insertar
        INSERT (
            ID_Vuelo, Fecha, Hora_Salida_Programada, Hora_Salida_Real,
            Clima_Temperatura, Clima_Humedad, Clima_Condicion,
            Retraso_Minutos, Estado_Vuelo, Carga_Pasajeros, Carga_Carga_Kg
        )
        VALUES (
            @ID_Vuelo, @Fecha, @HoraProgramada, @HoraReal,
            @Temp, @Humedad, @Condicion,
            @RetrasoMin, @Estado, @Pasajeros, @CargaKg
        );
END;
GO

-- 3.2 SP_Actualizar_Prediccion_Retraso (Conexión de la IA con el sistema)
-- Este SP es llamado por la plataforma de IA (Azure ML, BigML, etc.) para guardar el resultado.
------------------------------------------------------------------------------------------------
IF OBJECT_ID('dbo.SP_Actualizar_Prediccion_Retraso', 'P') IS NOT NULL
BEGIN
    DROP PROCEDURE dbo.SP_Actualizar_Prediccion_Retraso;
END
GO

CREATE PROCEDURE dbo.SP_Actualizar_Prediccion_Retraso
    @ID_Vuelo INT, -- Cambiado a ID_Vuelo para una referencia más simple para la IA
    @MensajePrediccion NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE PRE.HISTORICO_OPERACIONAL_VUELOS
    SET Observaciones = @MensajePrediccion,
        Fecha_Modificacion = GETDATE() -- Registrar la actualización
    WHERE ID_Vuelo = @ID_Vuelo;
END;
GO

-- 3.3 SP_Refrescar_Historico_Vuelos_Activos_SIAA (Proceso Programado - Mantenimiento Diario)
-- Este SP se ejecuta periódicamente (ej. cada hora) para mantener actualizados los datos de los vuelos relevantes.
--------------------------------------------------------------------------------------------------------------------
IF OBJECT_ID('dbo.SP_Refrescar_Historico_Vuelos_Activos_SIAA', 'P') IS NOT NULL
BEGIN
    DROP PROCEDURE dbo.SP_Refrescar_Historico_Vuelos_Activos_SIAA;
END
GO

CREATE PROCEDURE dbo.SP_Refrescar_Historico_Vuelos_Activos_SIAA
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ID_Vuelo_Actual INT;

    -- Cursor que selecciona vuelos PRÓXIMOS o RECIENTEMENTE TERMINADOS
    DECLARE cur_active_flights CURSOR LOCAL FORWARD_ONLY STATIC READ_ONLY FOR
    SELECT ID_Vuelo
    FROM VUE.VUELOS
    WHERE
        -- Vuelos que inician hoy, mañana o en los próximos 7 días
        Fecha_Salida >= CAST(GETDATE() AS DATE) AND Fecha_Salida <= DATEADD(DAY, 7, CAST(GETDATE() AS DATE))
        OR
        -- Vuelos que están en estado "Activo" u "Operativo" (o recién finalizados en las últimas 24h)
        Estado IN ('Programado', 'En Vuelo', 'Retrasado', 'Desviado')
        OR
        (Estado = 'Finalizado' AND Fecha_Salida >= DATEADD(DAY, -1, GETDATE())); -- Finalizados hace menos de 24h para capturar el dato final

    OPEN cur_active_flights;
    FETCH NEXT FROM cur_active_flights INTO @ID_Vuelo_Actual;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        -- Llama al SP maestro para actualizar/insertar
        EXEC dbo.SP_Insertar_Historico_Vuelo @ID_Vuelo = @ID_Vuelo_Actual;
        FETCH NEXT FROM cur_active_flights INTO @ID_Vuelo_Actual;
    END;

    CLOSE cur_active_flights;
    DEALLOCATE cur_active_flights;
END;
GO

-- 3.4 SP_Generar_Historico_Para_Todos_Los_Vuelos (Carga Inicial/Backfill)
-- Este SP SÓLO debe usarse una vez para llenar la tabla con todos los datos históricos existentes.
---------------------------------------------------------------------------------------------------
IF OBJECT_ID('dbo.SP_Generar_Historico_Para_Todos_Los_Vuelos', 'P') IS NOT NULL
BEGIN
    DROP PROCEDURE dbo.SP_Generar_Historico_Para_Todos_Los_Vuelos;
END
GO

CREATE PROCEDURE dbo.SP_Generar_Historico_Para_Todos_Los_Vuelos
AS
BEGIN
    SET NOCOUNT ON;

    PRINT 'INICIO: Generación/actualización COMPLETA del histórico para TODOS los vuelos (Uso para carga inicial).';

    DECLARE @ID_Vuelo_Actual INT;

    -- Itera sobre TODOS los vuelos (esto puede tomar tiempo)
    DECLARE cur_all_flights CURSOR LOCAL FORWARD_ONLY STATIC READ_ONLY FOR
    SELECT ID_Vuelo
    FROM VUE.VUELOS
    ORDER BY ID_Vuelo;

    OPEN cur_all_flights;
    FETCH NEXT FROM cur_all_flights INTO @ID_Vuelo_Actual;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        -- Llama al SP maestro para actualizar/insertar
        EXEC dbo.SP_Insertar_Historico_Vuelo @ID_Vuelo = @ID_Vuelo_Actual;
        FETCH NEXT FROM cur_all_flights INTO @ID_Vuelo_Actual;
    END;

    CLOSE cur_all_flights;
    DEALLOCATE cur_all_flights;

    PRINT 'FIN: Carga/Actualización COMPLETA del histórico.';
END;
GO


-- ##########################################################################
-- #   SCRIPTS PARA CREAR TRIGGER PARA ACTUAIZAR CAMPO FECHA_MODIFICACION   #
-- #                               PARA SIAA                                #
-- ##########################################################################

USE [SIAA];
GO

--Trigger genérico poder usar para actualizar automáticamente el campo Fecha_Modificacion en cualquier tabla de la base de datos. 
--El modelo es simple, eficiente y fácil de adaptar a todas las tablas.

--Solo hay que cambiar el nombre de la tabla y su clave primaria:

-- ====================================================
--Plantilla para copiar y adaptar:
-- ====================================================

CREATE TRIGGER TRG_Update_FechaModificacion_PASAJEROS
ON PAS.PASAJEROS
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE PAS.PASAJEROS
    SET Fecha_Modificacion = SYSDATETIME()
    FROM PAS.PASAJEROS T
    INNER JOIN inserted i ON T.ID_Pasajero = i.ID_Pasajero;
END;
GO

-- ====================================================
--Nombres de las tablas para copiar y pegar:
-- ====================================================

--<ID_CLAVE_PRIMARIA>
--<NOMBRE_TABLA>
--INF.PAISES / ID_Pais
--INF.AEROPUERTOS / ID_Aeropuerto
--INF.TERMINALES / ID_Terminal
--INF.PUERTAS_EMBARQUE / ID_Puerta
--OPA.AEROLINEAS / ID_Aerolinea
--OPA.AERONAVES / ID_Aeronave
--VUE.RUTAS_AEREAS / ID_Ruta
--VUE.FRECUENCIAS / ID_Frecuencia
--VUE.HORARIOS_PROGRAMADOS / ID_Horario
--VUE.VUELOS / ID_Vuelo
--RRH.EMPLEADOS / ID_Empleado
--RRH.TURNOS_EMPLEADOS / ID_Turno
--RRH.ASISTENCIAS_EMPLEADOS / ID_Asistencia
--PAS.PASAJEROS / ID_Pasajero
--COM.RESERVACIONES / ID_Reservacion
--COM.PAGOS / ID_Pago
--COM.PASES_ABORDAJE / ID_Paseabordaje
--EQP.EQUIPAJE / ID_Equipaje
--EQP.EQUIPAMIENTO_ESPECIAL / ID_Equipamiento
--MIG.MIGRACION_ADUANA / ID_Registro
--SAB.SERVICIOS_BORDO / ID_Servicio
--SAB.SERVICIOS_CONSUMIDOS / ID_Consumo
--TEC.MANTENIMIENTO / ID_Mantenimiento
--ABC.COMBUSTIBLE / ID_Registro
--MET.CLIMA / ID_Registro
--INT.INCIDENTES_OPERATIVOS / ID_Incidente
--INT.ESTADISTICAS_DIARIAS / Fecha
--INT.TIEMPOS_PROCESO_PASAJEROS / ID_Proceso
--AUD.AUDITORIA_SISTEMA / ID_Evento
--AUD.REPORTES_GENERADOS / ID_Reporte
--TRP.TRIPULACION / ID_Tripulacion
--SEG.CONTROLES_SEGURIDAD / ID_Control
--SEG.INCIDENTES_SEGURIDAD / ID_Incidente
--MKT.CAMP_MARKETING / ID_Camp
--MKT.OFERTAS_APLICADAS / ID_Oferta
--MKT.FIDELIDAD_PASAJERO / ID_Registro
--MKT.ATENCION_CLIENTE / ID_Atencion
--MKT.ENCUESTAS_OPINIONES_CLIENTES / ID_Registro
--CTI.INSPECCIONES_AUDITORIAS / ID_Inspeccion
--LGT.LOGISTICA_TERRESTRE / ID_Transporte
--CRG.OPERADORES_CARGA / ID_Operador
--CRG.VUELOS_CARGA / ID_VueloCarga
--CRG.CARGAS_TRANSPORTADAS / ID_Carga
--EMR.UNIDADES_EMERGENCIA / ID_Unidad
--EMR.INTERVENCIONES_EMERGENCIA / ID_Intervencion
--PRE.HISTORICO_OPERACIONAL_VUELOS / ID_Historico


-- ====================================================
-- BLOQUE FINAL: CREACIÓN DE ÍNDICES NO CLUSTERIZADOS
-- Estos índices mejoran el rendimiento de las consultas (SELECT)
-- basadas en métricas y atributos clave del sistema.
-- ====================================================

-- 1. INF.AEROPUERTOS (Analítica de capacidad)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE name = 'IDX_INF_AEROPUERTOS_Capacidad_Anual_Pasajeros' AND object_id = OBJECT_ID('INF.AEROPUERTOS'))
    CREATE NONCLUSTERED INDEX IDX_INF_AEROPUERTOS_Capacidad_Anual_Pasajeros ON INF.AEROPUERTOS (Capacidad_Anual_Pasajeros);
GO

-- 2. OPA.AERONAVES (Analítica de capacidades)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE name = 'IDX_OPA_AERONAVES_Capacidad_Pasajeros' AND object_id = OBJECT_ID('OPA.AERONAVES'))
    CREATE NONCLUSTERED INDEX IDX_OPA_AERONAVES_Capacidad_Pasajeros ON OPA.AERONAVES (Capacidad_Pasajeros);
GO

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE name = 'IDX_OPA_AERONAVES_Capacidad_Carga_KG' AND object_id = OBJECT_ID('OPA.AERONAVES'))
    CREATE NONCLUSTERED INDEX IDX_OPA_AERONAVES_Capacidad_Carga_KG ON OPA.AERONAVES (Capacidad_Carga_KG);
GO

-- 3. VUE.RUTAS_AEREAS (Analítica de rutas)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE name = 'IDX_VUE_RUTAS_AEREAS_Distancia_KM' AND object_id = OBJECT_ID('VUE.RUTAS_AEREAS'))
    CREATE NONCLUSTERED INDEX IDX_VUE_RUTAS_AEREAS_Distancia_KM ON VUE.RUTAS_AEREAS (Distancia_KM);
GO

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE name = 'IDX_VUE_RUTAS_AEREAS_Duracion_Estimada_MIN' AND object_id = OBJECT_ID('VUE.RUTAS_AEREAS'))
    CREATE NONCLUSTERED INDEX IDX_VUE_RUTAS_AEREAS_Duracion_Estimada_MIN ON VUE.RUTAS_AEREAS (Duracion_Estimada_MIN);
GO

-- 4. INT.ESTADISTICAS_DIARIAS (Analítica de rendimiento - ¡CRUCIAL!)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE name = 'IDX_INT_ESTADISTICAS_DIARIAS_Total_Vuelos' AND object_id = OBJECT_ID('INT.ESTADISTICAS_DIARIAS'))
    CREATE NONCLUSTERED INDEX IDX_INT_ESTADISTICAS_DIARIAS_Total_Vuelos ON INT.ESTADISTICAS_DIARIAS (Total_Vuelos);
GO

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE name = 'IDX_INT_ESTADISTICAS_DIARIAS_Vuelos_Retrasados' AND object_id = OBJECT_ID('INT.ESTADISTICAS_DIARIAS'))
    CREATE NONCLUSTERED INDEX IDX_INT_ESTADISTICAS_DIARIAS_Vuelos_Retrasados ON INT.ESTADISTICAS_DIARIAS (Vuelos_Retrasados);
GO

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE name = 'IDX_INT_ESTADISTICAS_DIARIAS_Total_Pasajeros' AND object_id = OBJECT_ID('INT.ESTADISTICAS_DIARIAS'))
    CREATE NONCLUSTERED INDEX IDX_INT_ESTADISTICAS_DIARIAS_Total_Pasajeros ON INT.ESTADISTICAS_DIARIAS (Total_Pasajeros);
GO

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE name = 'IDX_INT_ESTADISTICAS_DIARIAS_Cancelaciones' AND object_id = OBJECT_ID('INT.ESTADISTICAS_DIARIAS'))
    CREATE NONCLUSTERED INDEX IDX_INT_ESTADISTICAS_DIARIAS_Cancelaciones ON INT.ESTADISTICAS_DIARIAS (Cancelaciones);
GO

-- 5. MKT.FIDELIDAD_PASAJERO (Analítica de fidelidad)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE name = 'IDX_MKT_FIDELIDAD_PASAJERO_Puntos_Acumulados' AND object_id = OBJECT_ID('MKT.FIDELIDAD_PASAJERO'))
    CREATE NONCLUSTERED INDEX IDX_MKT_FIDELIDAD_PASAJERO_Puntos_Acumulados ON MKT.FIDELIDAD_PASAJERO (Puntos_Acumulados);
GO

-- 6. LGT.LOGISTICA_TERRESTRE (Analítica de capacidad de logística)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE name = 'IDX_LGT_LOGISTICA_TERRESTRE_Capacidad' AND object_id = OBJECT_ID('LGT.LOGISTICA_TERRESTRE'))
    CREATE NONCLUSTERED INDEX IDX_LGT_LOGISTICA_TERRESTRE_Capacidad ON LGT.LOGISTICA_TERRESTRE (Capacidad);
GO

-- ====================================================================================================================
-- ====================================================================================================================
-- ====================================================================================================================

